/*    PARAMETRES GENERAUX   */

/*    about me     */

.about-me-container {
  h3 {
    color: var(--dark-violet);
  }
  p {
    margin: 0;
    padding-top: 1.142857142857143em;  //16px
  }
}

.about_description_image img, .about_life_path_image img {
  border-radius: 1.142857142857143em;  //16px
  box-shadow: 18px 24px 90px rgb(80 62 101);
  object-fit: cover;
}


/*    CAREER    */

.career-container {
  h3 {
    color: var(--dark-violet);
    margin-bottom: 0.833333333333333em;  //20px
  }
  li{
      list-style-type: "- ";
    }
}


/*    Languages     */

.languages-container {
  background-color: var(--dark-violet);
  padding: 0 1.714285714285714em 4em;  //0 24px 56px

  .languages-title {
    color: var(--main-lavender);
    font-family: "STIXGeneral", serif;
    text-align: center;
    font-weight: 500;
  }

  .languages-list {
    display: flex;
    text-align: start;
    justify-content: center;
    align-content: center;
  }

  .languages-element {
    background-color: var(--main-lavender);
    border-radius: 1.142857142857143em; //16px

    p.language_name {
      font-size: 1.714285714285714em;  //24px
      font-weight: 800;
      margin-left: 1.333333333333333em;  //32px
      margin-bottom: 0.75em;  //18px
      margin-top: 0.75em;  //18px
      color: var(--dark-violet);
    }

    .language_image_container {
      min-height: 325px;
      min-width: 325px;
      text-align: center;
    }

    img {
      margin-left: auto;
      margin-right: auto;
      display: block;
      padding-top: calc(325px - calc(162.5px + 58.5px));
      padding-bottom: calc(325px - calc(162.5px + 58.5px));
    }
  }
}


/*    MOBILE      */

@media (max-width: 749px) {
  .about-me-container {
    margin: 5.714285714285714em 1.714285714285714em 3.571428571428571em;  //80px 24px 50px
  }
  .about_description_image img, .career-container img {
    width: 100%;
    height: auto;
    margin-top: 1.714285714285714em;  //24px
  }
  .about-me-container p {
    max-width: 50em;
  }
  .career-container {
    margin: 0 1.714285714285714em 5em;  //0 24px 70px
  }
  .career-container li {
    margin-left: 0.714285714285714em; //10px
    line-height: 250%;
  }
  /*  languages */
  .languages-element {
    max-width: 325px;
  }
  .languages-list {
    flex-direction: column;
    row-gap: 2.285714285714286em;  //32px
    flex-wrap: wrap;
  }
  .languages-title {
    font-size: 1.714285714285714em;  //24px
    padding-top: 1.666666666666667em;  //40px
    padding-bottom: 2.333333333333333em;  //56px
  }
}


/*      TABLET       */

@media (min-width: 750px) and (max-width: 1199px) {
  .career-container li {
    margin-left: 0.714285714285714em;  //10px
    line-height: 250%;
  }
  .about-me-container {
    margin-top: 10.71428571428571em;  //150px
    margin-bottom: 8.571428571428571em;  // 120px
  }
  .career-container {
    margin-bottom: 8.571428571428571em;  // 120px
  }
  .about_description_image img, .career-container img {
    width: auto; // +/- 557px
    height: 400px;
  }
  .about-me-container p {
    max-width: 50em;
    line-height: 170%;
  }
  .text_info_about_life, .about-me-container p {
    margin-bottom: 2.142857142857143em;  //30px
  }
  .text_info_about_me, .text_info_about_life, .about_description_image img, .career-container img {
    margin-left: 1.714285714285714em;   //24px
  }
  /*  languages */
  .languages-list {
    flex-direction: row;
    gap: 7.142857142857143em;  //100px
    flex-wrap: wrap;
    margin-bottom: 12.85714285714286em;  //180px
  }
  .languages-title {
    font-size: 5.285714285714286em;  //74px
    padding-top: 1.351351351351351em;  //100px
    padding-bottom: 1.081081081081081em;  //80px
  }
}


/*      DESKTOP      */

@media (min-width: 1200px) {
  .about-me-container {
    margin-top: 23.21428571428571em;  //325px
    margin-bottom: 20em;  //280px
  }
  .about-me-container p {
    max-width: 532px;
    font-size: 1.142857142857143em;  // 16px
    line-height: 170%;
    margin-top: 3.25em;  //52px
    padding-top: 0;
  }
  .text_info_about_life ul {
    margin-top: 3.714285714285714em;  //52px
  }
  .text_info_about_life li {
    margin-top: 1.75em;  //28px
    font-size: 1.142857142857143em;  //16px
  }
  .text_info_about_me, .text_info_about_life {
    margin-left: 1.714285714285714em; //24px
  }
  .text_info_about_life ul{
  margin-left: 0.714285714285714em;
  }
  .career-container, .about-me-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1415px;
    margin-left: auto;
    margin-right: auto;
  }
  .career-container {
    margin-bottom: 8.571428571428571em;  //120px
  }
  .about_description_image img, .about_life_path_image img {
    margin-right: 1.714285714285714em; //24px
  }
  .about_description_image img, .career-container img {
    width: auto; // +/- 557px
    height: 400px;
    margin-top: 0;
  }
  .career-container h3, .about-me-container h3 {
    font-size: 4.571428571428571em;  //64px
  }
  /*  languages */
  .languages-list {
    flex-direction: row;
    gap: 7.142857142857143em; //100px
    flex-wrap: wrap;
    max-width: 1340px;
    justify-content: center;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 12.85714285714286em;  //180px
  }
  .languages-title {
    font-size: 5.285714285714286em;  //74px
    padding-top: 1.351351351351351em;  //100px
    padding-bottom: 1.081081081081081em;  //80px
  }
}