/*MESSAGES DE VALIDATION */

.field__error{
  font-weight: 500;
  color: var(--main-lavender);
  margin-top: -1.142857142857143em;  // -16px
  margin-bottom: 1.714285714285714em; //24px
}
.contact__success{
  color: var(--white);
  font-size: 1.285714285714286em; //18px
  font-weight: 400;
  text-align: center;
}


/*PARAMETRES GENERAUX*/

.contact {
  background-color: var(--dark-violet);
  border-radius: 1.142857142857143em;  //16px
  padding: 4.571428571428571em 1.714285714285714em;  //64px 24px

  .field__label {
    display: block;
    margin-bottom: 0.666666666666667em;  //16px
  }

  .form_title, .field__label {
    font-weight: 500;
    color: var(--main-lavender);
  }

  .field__input {
    color: var(--black);
    border: none;
    border-radius:8px;  //8px
    display: block;
  }
  #message{
    border: none;
    min-height: 200px;  //200px
  }

  .field__input, #message{
    font-family: "Gotham", sans-serif;
    font-weight: 500;
  }

  .field__input::placeholder, #message::placeholder{
  color: var(--placeholder);
    font-weight: 500;
  }

  .field__input:focus{
    border: 2px solid var(--main-lavender);
  }

  .btn {
    padding: 0.95em;  //19px
    background-color: var(--main-lavender);
    color: var(--dark-violet);
    border-radius: 0.4em;  //8px
    border: none;
    font-size: 1.428571428571429em;  //20px
    font-weight: 600;
    text-align: center;
    min-width: 100%;
    font-family: "Gotham", sans-serif;
  }
  .btn:hover{
    font-size: 1.714285714285714em;  //24px
    padding: 0.666666666666667em;  //16px
    background-color: var(--white);
    border: 1px solid var(--placeholder);
  }

  .obligations{
    margin-bottom: 3.428571428571429em;  //48px
    color: var(--main-lavender);
    font-size: 1em;  //14px
  }
}


/*    MOBILE    */
@media (max-width: 799px) {
  .form_title, .field__label {
    margin-left: 1.333333333333333em;  //24px
    margin-right: 1.333333333333333em;  //24px
  }
}


/*  MOBILE  */
@media (max-width: 849px) {
  .field__input {     // von 14
    padding: 1.357142857142857em 1.142857142857143em;  //19px 16px
    margin-bottom: 1.714285714285714em;  //24px
  }
  .form_title{
    font-size: 1.714285714285714em;  //24px. // von 14px
    text-align: center;
    margin-bottom: 0.875em;  //21px
  }
  .field__input, #message{
    font-size: 1em;  //14px
    min-width: calc(100% - 32px);
  }
  .field__label {     //von 14px
    font-size: 1.285714285714286em;  //18px
  }
  .contact{
    margin-bottom: 4em;  // 56px
    font-size: 1em;  //14px
  }
}


/*  TABLET  */
@media (min-width: 950px) and (max-width: 1199px) {
  .contact{
    margin-left: 4.285714285714286em ;  //60px
    margin-right: 4.285714285714286em;  //60px
  }
}


/*  Desktop and Tablet  */
@media (min-width: 800px) {
  .name_firstname {
    display: flex;
    flex-direction: row;
    row-gap: 2.857142857142857em ;  //40px
    justify-content: space-between;
  }
  .field{
    min-width: calc(50% - 20px);
  }
  .field__input {
    padding: 0.888888888888889em 1.333333333333333em;   //16px 24px
    margin-bottom: 1.777777777777778em;  //32px
  }
  .form_title{
    text-align: center;
    font-size: 3.428571428571429em;  //48px
    margin-bottom:0.833333333333333em; //40px
  }
  .form_title, .field__label {
    margin-left: 1em;  //24px
    margin-right: 1em;  //24px
  }
  .form{
    padding-left: 4.571428571428571em;  //64px
    padding-right: 4.571428571428571em;  //64px
  }
  .contact{
   padding-right: 0;
    padding-left: 0;
    margin-bottom: 12.85714285714286em; //180px
  }

  .field__input, #message{
    font-size: 1.285714285714286em; //18px
    min-width: calc(100% - 48px);
  }
  .field__label{
    font-size: 1.714285714285714em;  //24px
  }
}