/*    PARAMETRES GENERAUX   */

/*  TITLE  */
.main_title {
  font-size: 2.857142857142857em;  //40px
  color: var(--dark-violet);
  font-weight: 600;
  text-align: center;
  margin-top: 3.25em;  //130px
  margin-bottom: 0.5em;  //20px
}

.main_subtitle {
  font-size: 2.285714285714286em;  //32px
  font-family: "STIXGeneral", serif;
  text-align: center;
}


/*SECTION DISCOVER ME */

.discover-me-container h3 {
  color: var(--dark-violet);
  margin-bottom:0.833333333333333em;  //20px
}

.link_discover_me {
  margin-left: 1.2em; //24px
  display: inline-flex;
  font-size: 1.428571428571429em;   //20px
  font-weight: 600;
  color: var(--dark-violet);
  margin-top: 2em;  //40px
  margin-bottom: 2.8em;  //56px
  line-height: 1.4em;  // 28px
  gap: 0.5rem; /* Abstand zwischen Text und Pfeil */
  justify-content: center;
}
.arrow_discover, .arrow_contact{
  display: inline-block;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 4px;
  line-height: 1.4em;  //28px
  vertical-align: center;
}
.arrow_discover{
  stroke: var(--dark-violet);
}
.arrow_contact{
  stroke: var(--black);
}

.discover_image img{
  height: auto;
  width: calc(100% - 48px);
  margin-left: 1.714285714285714em; //24px
  margin-right: 1.714285714285714em; //24px
  border-radius: 1.142857142857143em;  //16px
  margin-bottom: 4em;  //56px
  box-shadow: 18px 24px 90px rgb(80 62 101);
}
.more_projects_link{
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  gap: 0.4em;  //8px
}


/*SECTION Projets récents */

.project_section h3 {
  display: block;
  color: var(--main-lavender);
  font-size: 1.714285714285714em;  //24px
  font-weight: 500;
  font-family: "STIXGeneral", serif;
  padding-top: 1.666666666666667em;  //40px
  text-align: center;
}

.project_section{
  padding-bottom: 4em;  //56px
}

.more_projects_link {
  font-weight: 600;
  color: var(--main-lavender);
  text-align: center;
}
.more_projects{
  stroke: var(--main-lavender);
}


/*    ARROW   */

.arrow_contact, .arrow_discover{
  transition: transform 0.3s ease;
}
.arrow_projects{
  transition: transform 0.3s ease;
}

.link_contact_me:hover .arrow_contact, .link_discover_me:hover .arrow_discover,
.more_projects_link:hover .arrow_projects{
  transform: translateX(5px); /* Pfeil bewegt sich beim Hover nach rechts */
}
.link_with_arrow{
  text-align: center;
}




/*    MOBILE & TABLET   */

@media (max-width: 1199px) {
  .main_subtitle {
    margin-bottom: 2.75em;  //88px
  }
  .discover_image{
    margin-left: auto;
    margin-right: auto;
      max-height: 400px;
      max-width: 557px;
      height: auto;
      width: 100%;
  }
  .more_projects_link {
    font-size: 1.428571428571429em;  //20px
  }
  .main_subtitle {
    margin-left: 0.75em;  //24px
    margin-right: 0.75em;  //24px
  }
  .discover-me-container h3{
    margin-left: 1em;  //24px
  }
  .main_title{
    margin-left: 0.6em;  //24px
    margin-right: 0.6em;  //24px
  }
}


/*    TABLET & DESKTOP   */

@media (min-width: 750px) {
  .project_section h3{
    font-size: 5.285714285714286em;  //74px
    padding-top: 1.351351351351351em;  //100px
    margin-bottom: 1.081081081081081em;  //80px
    padding-left: 0.324324324324324em;  //24px
    padding-right: 0.324324324324324em; //24px
  }
  .discover-me-container p{
    max-width: 532px;
    line-height: 170%;
  }
  .project_section{
    padding-bottom: 11.42857142857143em;  //160px
    .projects{
      padding-top: 0;
      padding-bottom:0;
    }
    .project:last-of-type .project__card{
      margin-bottom: 5.714285714285714em;  //80px
    }
  }
}


/*    DESKTOP   */

@media (min-width: 1340px){
  .project .project__card{
    margin-bottom:5.714285714285714em;  //80px
  }
}


/*    DESKTOP    */

@media (min-width: 1200px) {
  .introduction_container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1415px ;
    margin-bottom: 8.571428571428571em;  //120px
    margin-left: auto;
    margin-right: auto;
  }
  .more_projects_link{
    font-size: 1.714285714285714em;//24px
    gap: 0.333333333333333em;  //8px
    line-height: 1.166666666666667em;  //28px
  }
  .main_subtitle{
    margin-bottom: 3.108108108108108em;  //230px
    font-size: 5.285714285714286em;  //74px
    margin-left: 0.324324324324324em;  //24px
    margin-right: 0.324324324324324em;  //24px
  }
  .main_title{
    font-size: 6.857142857142857em;  //96px
    margin-top: 2.666666666666667em;  //256px
    margin-left: 0.25em;  //24px
    margin-right: 0.25em;  //24px
  }
  .discover-me-container p{
    max-width: 532px;
    font-size: 1.142857142857143em;  //16px
    line-height: 170%;
    margin-bottom: 3.375em;  //54px
  }
  .discover-me-container h3{
    font-size: 4.571428571428571em;  //64px
    line-height: 0.984375em;  //63px
    max-width: 532px;
    margin-bottom: 0.5em;  //32px
    margin-left: 0.375em;  //24px
  }
  .discover_image{
    margin: 0 0;
    height: 400px;
    width: auto;
  }
  .link_discover_me{
    margin-bottom: 0;
    margin-top: 0;
  }
}
