/*  TITLES  */
.main_title {
  font-size: 40px;
  color: var(--dark-violet);
  font-weight: 600;
  text-align: center;
  margin-top: 130px;
  margin-bottom: 20px;

}

.main_subtitle {
  font-size: 32px;
  font-family: "STIXGeneral", serif;
  text-align: center;
}

/*SECTION DISCOVER ME */

.discover-me-container h2 {
  color: var(--dark-violet);
  margin-bottom: 20px;
}

.discover-me-container h2, .link_discover_me {
  margin-left: 24px;
}

.link_discover_me {
  display: inline-block;
  font-size: 20px; /*    AJOUTER flèche -->      */
  font-weight: 600;
  color: var(--dark-violet);
  margin-top: 40px;
  margin-bottom: 56px;
  line-height: 28px;
  vertical-align: center;
}
.arrow_discover{
  display: inline-block;
  fill: none;
  stroke: var(--dark-violet);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 4px;
  line-height: 28px;
  vertical-align: center;
}

.discover_image img{
  height: auto;
  width: calc(100% - 48px);
  margin-left: 24px;
  margin-right: 24px;
  border-radius: 16px;
  margin-bottom: 56px;
  box-shadow: 18px 24px 90px rgb(80 62 101);
}




/*.link_discover_me::after{
  content:     "<svg width='32' height='28' viewBox='0 0 32 28' fill='none' xmlns='http://www.w3.org/2000/svg'>
                <path d='M2 13.9993H30M30 13.9993L16 2.91602M30 13.9993L16 25.0827' stroke-width='4'
  stroke-linecap='round' stroke-linejoin='round'/>
            </svg>";
}*/


/*SECTION Projets récents */


.project_section h2 {
  display: block;
  color: var(--main-lavender);
  font-size: 24px;
  font-weight: 500;
  font-family: "STIXGeneral", serif;
  padding-top: 40px;
  text-align: center;
}

.project_section{
  padding-bottom: 56px;
}

.more_projects_link{
  line-height: 28px;
  vertical-align: center;
}


/*.project__card{
  min-width: calc(100% - 48px);
  background-color: var(--main-lavender);
}*/


@media (min-width: 1200px) {
  .introduction_container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1415px ;
    margin-bottom: 120px;
    margin-left: auto;
    margin-right: auto;

  }
  .main_subtitle{
    margin-bottom: 230px;
    font-size: 74px;
  }
  .main_title{
    font-size: 96px;
    margin-top: 256px;
  }
  .discover-me-container p{
    max-width: 532px;
    font-size: 16px;
    line-height: 170%;
    margin-bottom: 54px;
  }
  .discover-me-container h2{
    font-size: 64px;
    line-height: 63px;
    max-width: 532px;
    margin-bottom: 32px;
  }
  .discover_image{
   margin: 0 0;
    height: 400px;
    width: auto;
  }
  .link_discover_me{
    margin-bottom: 0;
    margin-top: 0;
  }
.more_projects_link{
  font-size: 24px;
}

}
@media (min-width: 750px) {
  .project_section h2{
    font-size: 74px;
    margin-top: 100px;
    margin-bottom: 80px;
  }
  .discover-me-container p{
    max-width: 532px;
  /*  font-size: 17px;*/
    line-height: 170%;
  }

}
@media (max-width: 1199px) {
  .main_subtitle {
    margin-bottom: 88px;
  }
  .discover_image{
    margin-left: auto;
    margin-right: auto;
      max-height: 400px;
      max-width: 557px;
      height: auto;
      width: 100%;
  }
  .project_section h2{
    margin-top: 40px;
  }
  .more_projects_link {
    font-size: 20px;
  }

}
.more_projects_link {
  font-weight: 600;
  color: var(--main-lavender);
  text-align: center;
}