/*    PARAMETRES GENERAUX   */

div.projects.all_project_list{
  padding: 0 0;
}

div.projects {
  display: flex;
  justify-content: flex-start;
  gap: 2.285714285714286em;  //32px
  padding: 4em 0 2.857142857142857em;  //56px 0 40px
  position: relative;
  flex-direction: column;
  align-items: center;
}

.project__card.white_card{
  background-color: var(--white);
}

.project {
  width: calc(100% - 48px);
  position: relative;
  max-width: 380px;


  &__fig {
    display: block;
    position: relative;
    height: 100%;
    margin: 0;
  }

  &__link {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;

    &:hover + .project__card,
    &:focus + .project__card {
      transform: translate3d(0, -4px, 0);
    }
  }

  &__img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 326px;
    object-fit: cover;
    border-radius: 1.142857142857143em;  //16px
  }

  &__card {
    height: 394px;
    justify-content: flex-end;
    position: relative;
    z-index: 0;
    border-radius: 1.142857142857143em;  //16px
    overflow: hidden;
    display: flex;
    flex-direction: column-reverse;
    transition: transform 200ms ease-out;
    background-color: var(--main-lavender);
  }

  &__title {
    font-weight: 600;
    font-size: 1.714285714285714em;  //24px
    margin-bottom: 1em;  //24px
    margin-left: 1em; //24px
  }

  &__card {
    &--placeholder {
      padding-top: 0.571428571428571em;  //8px
      margin-top: auto;
      text-decoration: underline;
    }
  }
}


/*    DESKTOP   */

@media (min-width: 1200px) {
  div.projects{
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 7.142857142857143em;   //100px
    max-width: 1340px;
    margin-left: auto;
    margin-right: auto;
  }
}