/* PROPRIETES GENERALES DE LA PAGE */
.project__subline{
  text-align: center;
  font-family: "STIXGeneral", serif;
  font-weight: 500;
}

.project__proporties__title{
  font-weight: 600;
  color: var(--dark-violet);
}

.project-gallery img{
  border-radius: 1.142857142857143em;  //16px
  object-fit: cover;
  object-position: center;
}

.project-gallery{
  background-color: var(--dark-violet);
}


/*    MOBILE & TABLET   */

@media (max-width: 1199px) {
  .project-gallery{
    padding-top: 2.857142857142857em;  // 40px
    padding-bottom: 1.857142857142857em;  //26px
  }

  .project__goal, .project__steps{
    padding-bottom: 2.285714285714286em;  //32px
  }

  .project__proporties__title{
    margin-left: 1em;  //24px
    font-size: 1.714285714285714em;  //24px
    font-weight: 600;
    padding-bottom: 0.666666666666667em;  ///16px;
    color: var(--dark-violet);
  }

  .project__proporties{
    padding-top:  2.857142857142857em;  //40px
    padding-bottom: 4em;  //56px
  }

  .project__subline{
    margin-bottom: 1.75em;  //56px
    font-size: 2.285714285714286em;  //32px
  }
  .project__header>.page__title{
    margin-bottom: 0.4em;  //16px
  }
  .project__problems p, .project__steps p, .project__goal p{
    max-width: 50em;
  }
  .project-gallery img{
    height: 325px;   //325px
    width: calc(100% - 48px);
    margin-left: 1.714285714285714em;  // 24px
    margin-right: 1.714285714285714em;  // 24px
    margin-bottom: 2.142857142857143em;  //30px
  }
  .project__header {
    max-width: calc(100% - 48px);
    padding-left: 1.714285714285714em;  //24px
    padding-right: 1.714285714285714em; //24px
  }
}


/*     TABLET   */

@media (min-width: 750px) and (max-width: 1199px) {
  .project-gallery img{
    display: block;
    max-width: 524px;  //524px
    margin-right: auto;
    margin-left: auto;
  }
}


/*    DESKTOP   */

@media (min-width: 1200px) {
  .project_images_container{
    margin-right: auto;
    margin-left: auto;
  }
  .link__to__extern__project__site{
    align-items: center;
  }
}