/* Base color */
:root {
  --white: #fff;
  /*--black: #000;*/
  /*
  --cta: #1c35d0;
  --cta-hover: #001aac;
  */

  --grid-container: 1280px;


  --header: #D5CBE3;
  --black: #000000;
  --main-lavender: #D5CBE3;
  --dark-violet: #503E65;
  --placeholder: #C3C3C3;
  --error-red: #ff1f1f;

  --shadow: rgba(80 62 101 .6);
}
