/* Base color */
:root {
  --white: #fff;
  /*--black: #000;*/
  --cta: #1c35d0;
  --cta-hover: #001aac;

  --grid-container: 1280px;



  --header: #9F90B7;
  --black: #000000;
  --lavender: #D6CBE3;
}
