footer {
  border-top: 1px solid #DDD4E9;
  padding: 48px 24px 30px;
  background-color: var(--main-lavender);
  font-size: 14px;
  font-family: "Gotham", sans-serif;

  .nav_footer_title {
    font-weight: 600;
    font-size: 14px;
  }


  .nav__footer, .socials_container{
    margin-bottom: 66px;
  }

  @media (max-width: 750px) {
    .related_links_container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      /*max-width: 48px;*/
      justify-content: space-between;
      padding: 0 16px;
    }
    .contact_with_arrow{
      margin-left: 60px;
    }
    .nav__footer{
      margin-right: 60px;
      margin-bottom: 66px;
    }
  }


  @media (min-width: 750px ) and ( max-width: 1199px) {
    .related_links_container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 0 16px;
    }
    .contact_with_arrow{
margin-left: 60px;
    }
  }
  .socials_list li, .nav__item__footer {
    margin-bottom: 19px;
  }
  .nav_footer_title{
    margin-bottom: 20px ;
  }

  .contact__button{
/*    display: block;*/
    text-align: center;
    font-size: 20px;
    font-weight: 600;
/*    margin-top: 66px;*/
/*    margin-bottom: 66px;*/
  }
  .legal_info p{
    line-height: 19px;
    margin-left: 0;
    margin-right: 0;
  }
}


.contact_with_arrow{
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  stroke: var(--black);
  gap: 8px;
  margin-bottom: 66px;
}
.arrow_footer{
/*  margin-top: 66px;*/
}

/*@media (min-width: 1200px)  {
  .related_links_container {
!*    display: block;*!
    padding: 0 16px;
  }

  .footer_links_container{
   display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}*/

@media (min-width: 1200px){
.related_links_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 16px;
}
  .contact_with_arrow{
    margin-left: 0;
  }
}

/*  .contact__button::after{              !*    A CORRIGER      *!
    content: "➜";
    font-weight: 200;
    font-size: 24px;
  }*/