footer {
  border-top: 1px solid #DDD4E9;
  padding: 48px 24px 30px;
  background-color: var(--main-lavender);
  font-size: 14px;
  font-family: "Gotham", sans-serif;

  .nav_footer_title {
    font-weight: 600;
    font-size: 14px;
  }


  .nav__footer, .socials_container{
    margin-bottom: 66px;
  }

  @media (max-width: 449px) {
    .related_links_container {
      justify-content: space-between;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      /*max-width: 48px;*/

      padding: 0 16px;
    }
    .nav__footer{
      margin-right: 50px;
      margin-bottom: 66px;
    }
  }

  @media (min-width: 450px) and (max-width: 550px) {
    .related_links_container {
      justify-content: space-between;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      /*max-width: 48px;*/

      padding: 0 16px;
    }
    .contact_with_arrow{
      /*      margin-left: 60px;*/
    }
    .nav__footer{
      margin-right: 50px;
      margin-bottom: 66px;
    }
    .socials_container{
      margin-right:50px;
    }
  }


  @media (min-width: 551px ) and ( max-width: 1199px) {
    .related_links_container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 0 16px;
    }
    .nav__footer{
      margin-right: 50px;
    }
    .socials_container{
      margin-right:50px;
    }
  }
  .socials_list li, .nav__item__footer {
    margin-bottom: 19px;
  }
  .nav_footer_title{
    margin-bottom: 20px ;
  }

  .link_contact_me{
    text-align: center;
    font-size: 20px;
    font-weight: 600;
  }



  .legal_info p{
    line-height: 19px;
    margin-left: 0;
    margin-right: 0;
  }
}


.link_contact_me{
  text-align: center;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  stroke: var(--black);
  gap: 8px;
  margin-bottom: 66px;
}

/*@media (min-width: 1200px)  {
  .related_links_container {
!*    display: block;*!
    padding: 0 16px;
  }

  .footer_links_container{
   display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}*/



@media (min-width: 1200px){
.related_links_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 16px;
}
  .link_contact_me{
    margin-left: 0;
  }
}
.footer_links_container, .legal_info{
  max-width: 1415px ;
margin-left: auto;
margin-right: auto;
}