/*    PARAMETRES GENERAUX   */

.link_contact_me{
  text-align: center;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  stroke: var(--black);
  gap: 0.4em;  //8px
  margin-bottom: 3.3em;
}

.footer_links_container, .legal_info{
  max-width: 1415px ;
  margin-left: auto;
  margin-right: auto;
}

footer {
  border-top: 0.0714285714285715em solid #DDD4E9;
  padding: 3.428571428571429em 1.714285714285714em 2.142857142857143em;  //48 24 30
  background-color: var(--main-lavender);
  font-size: 1em; //14px
  font-family: "Gotham", sans-serif;

  .nav_footer_title {
    font-weight: 600;
    font-size: 1em;
    margin-bottom: 1.428571428571429em ;
  }
  .nav__footer, .socials_container{
    margin-bottom: 4.714285714285714em;
  }

  .socials_list li, .nav__item__footer {
    margin-bottom: 1.357142857142857em;
  }

  .link_contact_me{
    text-align: center;
    font-size: 1.428571428571429em;
    font-weight: 600;
  }
  .legal_info p{
    line-height: 1.357142857142857em;  //19px
    margin-left: 0;
    margin-right: 0;
  }


  /*    MOBILE PETIT    */

  @media (max-width: 449px) {
    .related_links_container {
      justify-content: space-between;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      /*max-width: 48px;*/
      padding: 0 1.142857142857143em; //16px
    }
    .nav__footer{
      margin-right: 3.571428571428571em; //50px
    }
  }


  /*    MOBILE moyen    */

  @media (min-width: 450px) and (max-width: 550px) {
    .related_links_container {
      justify-content: space-between;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      padding: 0 1.142857142857143em; //16px
    }
    .nav__footer, .socials_container{
      margin-right: 3.571428571428571em; //50px
    }
  }


  /*    MOBILE & TABLET    */

  @media (min-width: 551px ) and ( max-width: 1199px) {
    .related_links_container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 0  1.142857142857143em; //16px
    }
    .nav__footer, .socials_container{
      margin-right: 3.571428571428571em; //50px
    }
  }
}


/*    DESKTOP    */

@media (min-width: 1200px){
.related_links_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 1.142857142857143em; //16px
}
  .link_contact_me{
    margin-left: 0;
  }
}