.header {

  z-index: 10;
  /*   display: grid;
     grid-template-areas: "logo burger"
           "nav . ";
     grid-gap: 50px;

     .logo_image{
       grid-area: logo;
     }
     .burger_menu, #burger_menu{
       grid-area: burger;
       justify-self: end;
     }
     .nav__container__header{
       grid-area: nav;
       justify-self: start;
     }*/

  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */

  background-color: var(--main-lavender);
  font-size: 24px;
  font-family: "Gotham", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 0 1px 5.1px rgba(0, 0, 0, 0.2);

  .nav__item__header {
    padding-left: 24px;
    position: relative;
    /*    left: -100%;*/
  }

  /*.burger_menu, #burger_menu{
  position: relative;
}
  .nav__container__header{
    position: absolute;
  }*/

}

/*$nav = .nav__header
       $checked = input:checked ~ .nav__container__header
@media (max-width: 1199px) {
  @if($nav contains $checked){
    $nav{
  min-height: 300px;}
  }*/


@media (max-width: 1199px) {
  header{
    width: calc(100% - 37px); /* Full width */
    padding: 13px 24px;
  }
  .nav__header > input:not(:checked) ~ .nav__container__header, input[type="checkbox"] {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
  }
  /* BURGER Menu*/
  input[type="checkbox"]:checked ~ .nav__header {
    left: 0
  }

  input[type="checkbox"] ~ .nav__header {
    /*  right: 200%;*/
    /*left: -100%;*/
  }


  /*Animation du X dans le Burger */
  .burger_menu path {
    transition: all .25s;
    overflow: auto;
  }

  input[type="checkbox"]:checked ~ .burger_menu {
    path:first-of-type {
      transform-origin: center;
      transform: rotate(45deg) translateY(calc(50% - 2px));
    }

    path:nth-of-type(2) {
      transform-origin: center;
      transform: scale(0);
    }

    path:last-of-type {
      transform-origin: center;
      transform: rotate(-45deg) translateY(calc(-50% + 2px));
    }
  }


}

@media (min-width: 1200px) {
  input, label{
    display: none;
  }
  .header {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 22px;
    padding-bottom: 22px;
    width: calc(100% - 10%); /* Full width */

  }
  .nav__header{
    display: flex;
  }

}

